<div class="accordion-item shadow p-3 mb-3 bg-body rounded">
    <h5 class="accordion-header" id="<%= id %> " style=" color:#00af80; margin-left:40px;">
        <%= accordian.id + " ?" %>
    </h5>
    <div id="<%= id %>" class="accordion-collapse collapse show" aria-labelledby="<%= id %> "
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <ul>

                <% for (const key in accordian.Data) { %>
                    <% if (accordian.Data.hasOwnProperty.call(accordian.Data, key)) { %>
                        <% const answers=accordian.Data[key]; %>
                            <li>
                                <span><strong>User : </strong></span>
                                <%= answers %>
                            </li>
                            <br>

                            <% } %>
                                <% } %>
            </ul>
            <form action="/community/<%= accordian.id %>" method="post">
                <div class="replyRow">

                    <input type="text" name="keyword" id="keyword" class="form-control"
                        placeholder="Share your response with us">
                    <button type="submit" class="replyBtn">Post</button>
                </div>

            </form>
        </div>
    </div>
</div>