<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Land Forecasting Page" }) %>

        <!-- CSS -->
        <link rel="stylesheet" href="/styles/forecasting.css">

        <!-- Boostrap JS -->
        <script src="/scripts/bootstrap.min.js"></script>

</head>

<body style="background-image: url('/images/land-background.jpg'); background-size: cover;">

    <%- include('includes/nav-bar') %>
        <form action="/forecasting/land" method="post" class="form" style="background-color: rgba(0, 0, 0,0.5);">
            <label for="land" style="color:White; font-weight: 600;">Choose a Land Type</label>

            <select name="land" id="land">
                <% for(const land of lands) { %>

                    <option value="<%= land.id %>">
                        <%= land.id %>
                    </option>

                    <% } %>
            </select>

            <button type="submit" id="submit">Submit</button>
        </form>
        <%- include('includes/footer') %>

</body>

<!-- chat bot script -->
<script src="scripts/script.js"></script>
<script type='text/javascript'>
    ( function ( I, L, T, i, c, k, s ) { if ( I.iticks ) return; I.iticks = { host: c, settings: s, clientId: k, cdn: L, queue: [] }; var h = T.head || T.documentElement; var e = T.createElement( i ); var l = I.location; e.async = true; e.src = ( L || c ) + '/client/inject-v2.min.js'; h.insertBefore( e, h.firstChild ); I.iticks.call = function ( a, b ) { I.iticks.queue.push( [ a, b ] ); }; } )( window, 'https://cdn-v1.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'HQ7atFjXpnh7iwhh8_c', {} );
</script>

</html>